body{
    background-color: rgb(218, 218, 218);
    color: rgb(19, 19, 19);
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 5%;
}
.image{
    float: left;
    margin: 30px;
}